<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
     {% load static %}
<title>smart college chatbot</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/coin-slider.css' %}" />
<script type="text/javascript" src="{% static 'js/cufon-yui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cufon-georgia.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-1.4.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/coin-slider.min.js' %}"></script>
</head>
<body>
<h2 style="color:white;text-align:center;font-size:40px;font-weight:bold;">Smart College Chatbot Using ML And Python</h2>
<div class="main">
  <div class="header">
      <div class="logo">

      </div>
    <div class="header_resize">
      <div class="menu_nav">
        <ul>
          <li ><a href="{% url 'user_index'%}" style="color:white;"><span>Home</span></a></li>
          <li><a href="{% url 'user_login'%}" style="color:white;"><span>User</span></a></li>
          <li><a href="{% url 'admin_login'%}" style="color:white;"><span>Admin</span></a></li>

        </ul>
      </div>

      <div class="clr"></div>
      <div class="slider1">
        <div id="coin-slider1"><img src="{% static 'images/banner1.jpg'%}" width="960" height="360" alt="" /></div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
  </div>



</div>
</body>
</html>
